# Environments
.venv/
env/
venv/
__pycache__/
*.pyc

# Mac
.DS_Store

# IDE
.vscode/

# Backups y archivos temporales (no necesarios para entrega)
backups/
tableau_resources/
scripts/
test.hyper
*.Zone.Identifier

# Data huge files (mantener solo procesados pequeños)
data/raw/
